/* Comando para complirar en terminal de scss a css
 sass --watch main.scss output.css
 donde main.scss es mi archivo de entrada y output.css 
 es mi archivo compilado de salida que ligaré a mi html
 */
/* @use 'global' as *;  importamos el archivo global.scss 
 donde definimos variables, el * se utiliza para que se
 respeten los nombres de las variables */
 
 @use 'parcial';
 
 
 $variable1: #aaa;
/*
 Mixin  
@mixin repetido($tamano, $color){
    height: $tamano;
    width: $tamano;
    background-color: $color;
}

.blog2{
    @include repetido(300px, blue);
}


.blog{
     height: $size;
    width: $ancho;
    background-color: $color; 
    @include repetido($ancho, $color);

    @media (orientation: landscape) {
        background-color: $color-verde;

    }
}
*/



h1{
    color: parcial.$color-azul;
}


/* nesting */

section{
    p{
        color: parcial.$color-azul
    }

    & p:hover{
        color: $variable1;
    }
    
}

/*  */

.logo{
     position: relative;
     animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:reverse;
 
}

@for $iterador from 1 through 2{

    .logo{
        animation-name: animacion;

        @keyframes animacion {
              0% {
               
                left: 0 ;
                top: 0px;
             }

             50%{
                left: 0;
                top :20px
             }
             100% { opacity: 20%;
            top: 0}
             
             from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            
        }


        @if $iterador == 1 {
            &:hover{
                width: 7rem;
                height: 7rem;
            }
        }

    }
}

#img-filosofos{
    transition: transform 0.3s ease-in-out;


}

#img-filosofos:hover{
      transform: scale(1.2);
    opacity: 50%;
}

.img-card{
    animation: animacionImagen 1s infinite alternate;


}

@keyframes animacionImagen {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(.8);
    }
  }