p {
    color: #46484c;
    font-size: 20px;
}

h1 {
    color: #025157;
}

strong {
    color: #8b8b8bcc
}

body {
    text-align: center;
    background-color: #fffbf1;
}

img {
    width: 45%;
    height: 25%;
    justify-content: center;

}

button {
    color: #fff;
    background-color: #025157;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

#email-input{
width: 20em;
height: 2em;    
}

/* Header */

a {
    text-decoration: none;
    color:#67b54b;
  }

  .navbar-item{
    font-size: 2rem;
  }
.header {
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
    background-color: #025157;
    height: 120PX;
    color: #fff;
    
}

.login{
    border: 2px solid bisque;
}

#logo {
    width: 5em;
    height: 5em;
}

#boton-header {
    width: 200px;
    background-color: #67b54b; 
}


[href="/login"] {
    color: #67b54b;
}