/* Header */
.logo{
    width: 6em;
    height: 6em;
    margin-left: 20px;
}

.navbar{
    position: fixed;
    background-color: #fffbf1 ;
    top: 0;
    left: 0;
    right: 0;
    
}
.nav-link{
    color: #67b54b;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 5px 0 5px ;
}
 
/* contenedor 1 */

p {
    color: #46484c;
    font-size: 20px;
}

h1 {
    color: #025157;
    font-size: 3rem;
}

strong {
    color: #8b8b8bcc
}

body {
    text-align: center;
    background-color: #fffbf1;
}

img {
    width: 45%;
    height: 25%;
    justify-content: center;

}

button {
    color: #fff;
    background-color: #025157;
   
}

.contenedor-1{
    margin-top: 5em;
}

.contenedor-2{
    display: flex;
    align-items: center;
}
.columna{
    margin: 30px;
}
#flecha{
    width: 5em;
    height: 3em;
    opacity: 50%;

}
#platon{
    display: inline;
    color: #46484c;
    font-size: 20px;
}

video{
    display: block;
}

.e-input{
    width: 5em;
    height: .8em;
}
.b-input{
    height: 1.5em;
    font-size: .5em;
}


/* Tarjetas */

.tarjetas{
    padding: 2em 3em;
    display: grid;
    background: linear-gradient(180deg, rgba(255,251,241,1) 19%, rgba(2,81,87,1) 73%);
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 2em;
    text-align: justify;

}
.img-card{
    width: 10%;
    display: flex;
}

.grid-item{
    padding: 1em 2em;
}
article a {
    font-size: 1.5em;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
article img{
    justify-items: left;
}